<a href="/contacts"><button class="link-button" >Home</button></a>
<ul class="contact-info">
  <% @contact.each do |title, detail| %>
    <li class="contact-info"><%= title + ": " + detail %></li>
  <% end %>
</ul>

<a href="/contacts/<%= @id %>/edit"><button class="link-button" >Edit Contact</button></a>



<footer>
  <nav>
    
  <nav>
    <form action="/contacts/<%= @id %>/delete" method="post">
    <button class="link-button" type="submit" value="delete">Delete this contact</button>
    </form>
</footer>