<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>your page title goes here</title>
    <meta charset='utf-8'>
    <link rel="stylesheet"  type="text/css" href="/stylesheets/contacts.css">
  </head>
  <body>
    <header>
      <h1>Contacts</h1> 
    </header>
      
    <%== yield %>
  </body>
</html>