
body {
  margin: 20px;
  text-align: left;
  width: 600px;
  height: 900px;
  background-color:ivory;
  border: #151515 2px solid;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family:'Arial Narrow Bold', sans-serif;
  border-bottom: 3px solid black;
  margin-bottom: 0px;
}

dl {
  font-size: 2rem;
}

dl.radio-button {
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  margin-top: -10px;
}

.filtering {
  align-content: center;
  margin-top: 0;
}

.submits {
  display:inline-block;
  border:1px solid #5f3a3a;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  width: 50%;
  height: 40px;
  background-color: #ffe7e7;
  font-size: 1rem;
}

.submits-form{
  display:inline-block;
  box-sizing: border-box;

  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  width: 600px;
  height: 40px;
  background-color: #ffe7e7;
  font-size: 1rem;
  padding:0;
  margin-right: 0;
  margin-left: 0;
  border:#ffe7e7;
  border-radius: 5px;
}

.submits:hover{
  background-color: #d09e9e;
}
.submits-form:hover {
  background-color: #d09e9e;
}

dd {
  display: inline;
  width: 50%;
  vertical-align: top;
}


dt {
  display: inline;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}

#hidden {
  appearance: none;
}

ul {
  padding: 10px;
  padding-inline-start: 0px;
  width: 600px;
  text-align: left;
  padding-top: 0px;
  margin-block-start: 0px;
}

ul>li {
  background-color: rgb(251, 222, 216);
  margin-top: 0 px;
  padding: 0px;
  font-size: 1.4rem;
  list-style: none;
}

ul>li:nth-child(odd) {
  background-color: rgb(211, 197, 175);
}

ul.contact-names>li:hover {
  background-color:#e79661;
}

li>a {
  display: block;
  padding:10px
}

.radio-button input[type="radio"] {
  display: none;
}      

.radio-button label {
  display: inline-block;
  background-color: #fff6f6;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 18px;
  width: 200px;
  cursor: pointer;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid black;
  height: 50px;
  margin-top: 0px;
}     

.radio-button #radio1 {
  border-left: 0px;
}

.radio-button label#radio3 {
  border-right: 0px;
}

.radio-button input[type="radio"]:checked +label {
  background-color: #ed6e18;
}

.link-button {
  display:inline-block;
  border:1px solid #5f3a3a;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  width: 100%;
  height: 40px;
  background-color: #ffe7e7;
  font-size: 1rem;
}

.link-button:hover {
  text-decoration: underline;
  background-color:#ed6e18;
  box-shadow: 3px 3px #bf5712 inset, -2px -2px #da671a inset;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.filter-name {
  text-align: left;
  background-color:#ed6e18;
  margin: 0px;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-bottom: 2px solid rgb(67, 40, 40);
}

ul.error>li {
  
  background-color:#e31c3d;
  color: #ffffff;
  padding: 10px;
}

ul.error>li:nth-child(odd) {
  background-color: #981b1e;
}

.single-line-text {
  background-color: #ffe7e7;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-size: 1.2rem;
  border-bottom: #000000 2px solid ;
}

dt.form{
  display: inline-block;
  width: 40%;
  text-align: left;
  box-sizing: border-box;
  margin-inline-start: 0;
  padding-left: 20px;
}

dd.form {
  display: inline-block;
  width: 60%;
  text-align: right;
  padding-right: 20px;
  box-sizing: border-box;
  margin-inline-start: 0;
}

dd.form>input {
 background-color: #ffffff;
 width:300px;
 height: 20px;
 padding: 5px;
 padding-right: 10px;
 font-size: 1.2rem;
}


dt.form-radio {
  display: inline-block;
  box-sizing: border-box;
  width: 85%;
  padding-left: 20px;
}

dd.form-radio {
  display: inline-block;
  box-sizing: border-box;
  width: 5%;
  }

dd.form-radio>input[type="radio"] {
  transform: scale(2);
  vertical-align: middle;
  }

dl#form-radios {
  margin-bottom: 20px;
}

.contact-info {
  display: block;
  padding: 20px;
}

ul.contact-info {
  margin-top: 0px;
  padding: 10px;
  padding-inline-start: 0px;
  width: 600px;
  text-align: left;
  margin-block-start: 0px;
  padding-top: 0px;
}

ul>li.contact-info {
  background-color: rgb(251, 222, 216);
  margin-top: 0px;
  padding: 20px;
  font-size: 1.4rem;
  list-style: none;
}

ul>li.contact-info:nth-child(odd) {
  background-color: rgb(211, 197, 175);
}
